/* 侧边栏缩进引导线 */
.group:has([role="button"]) .VPSidebarItem.level-0 .items {
  padding-left: 15px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
}

/* 侧边栏图标 */
#VPSidebarNav .VPSidebarItem:not(.is-link).collapsed > .item {
  display: flex;
  align-items: center;
}

#VPSidebarNav .VPSidebarItem:not(.is-link).collapsed > .item::before {
  content: "";
  background-image: url("../../../public/file-close.svg");
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
  background-size: cover;
  filter: grayscale(1) sepia(0.4) hue-rotate(-25deg);
  margin-right: 6px;
  opacity: 0.72;
}

#VPSidebarNav .VPSidebarItem:not(.is-link) > .item {
  display: flex;
  align-items: center;
}

#VPSidebarNav .VPSidebarItem:not(.is-link) > .item::before {
  content: "";
  background-image: url("../../../public/icon_document_open.svg");
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
  background-size: cover;
  filter: grayscale(1) sepia(0.4) hue-rotate(-25deg);
  margin-right: 6px;
  opacity: 0.72;
}

#VPSidebarNav .VPSidebarItem.is-link > .item {
  display: flex;
  align-items: center;
}

#VPSidebarNav .VPSidebarItem.is-link > .item::before {
  content: "";
  background-image: url("../../../public/file.svg");
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
  background-size: cover;
  filter: grayscale(1) sepia(0.4) hue-rotate(-25deg);
  margin-right: 6px;
  opacity: 0.72;
}

#VPSidebarNav .VPSidebarItem.is-link.is-active > .item::before {
  filter: grayscale(1) sepia(1) hue-rotate(-25deg) saturate(3);
  opacity: 1;
}

#VPSidebarNav .VPSidebarItem .item .text {
  word-break: break-word;
  overflow-wrap: break-word;
  flex: 1;
  min-width: 0;
}

#VPSidebarNav .VPSidebarItem.is-link .link {
  word-break: break-word;
  overflow-wrap: break-word;
  flex: 1;
  min-width: 0;
}

.VPSidebarItem .link:hover .text {
  color: var(--site-brand) !important;
}