:root {
  --vp-c-default-1: #1d1d1f;
  --vp-c-default-2: #6e6e73;
  --vp-c-default-3: #86868b;
  --vp-c-default-soft: #f5f5f7;
  --vp-c-brand-1: #0071e3;
  --vp-c-brand-2: #0077ed;
  --vp-c-brand-3: #006edb;
  --vp-c-brand-soft: rgb(0 113 227 / 10%);
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-button-brand-border: transparent;
  --vp-button-brand-text: #ffffff;
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: #ffffff;
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: #ffffff;
  --vp-button-brand-active-bg: var(--vp-c-brand-3);

  --vp-home-hero-name-color: #1d1d1f;
  --vp-home-hero-name-background: none;
  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;

  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: rgb(0 113 227 / 8%);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
